OEMEV.UserService.Api/OEMEV.UserService.Data/bin
OEMEV.UserService.Api/OEMEV.UserService.Data/obj
OEMEV.UserService.Api/OEMEV.UserService.DAL/obj
OEMEV.UserService.Api/OEMEV.UserService.BLL/obj
OEMEV.UserService.Api/.vs
OEMEV.UserService.Api/OEMEV.UserService.Application/obj
